<div class="row">
  <h1>いじる</h1>
</div>

<%= form_for(@user) do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :full_name, "名前" %>
      <%= f.text_field :full_name, disabled: true %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :nick_name, "あだ名"%>
      <%= f.text_field :nick_name %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :job_type, "職種"%>
      <%= f.select :job_type, User.job_types_dict.invert %>
    </div>
  </div>
<% end %>
