<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= "パンタク" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "パンタク", root_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <% if logged_in? %>
          <ul class="left">
            <li><%= link_to "日記", user_diaries_path(current_user) %></li>
          </ul>

          <ul class="right">
            <li class="has-dropdown">
              <a href="#"><%= current_user.nick_name %></a>
              <ul class="dropdown">
                <li><%= link_to "プロフィール", user_path(current_user) %></li>
                <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
              </ul>
            </li>
          </ul>
        <% end %>
      </section>
    </nav>

    <div class="container">
      <%= render "shared/flash" %>
      <%= yield %>
    </div>

  </body>
</html>
